<h1>Lista dłużników</h1>

<% form_tag '/debtors/remind' do -%>
  
  <div>
    <table>
      <tr>
        <th>Wybierz</th>
        <th>Dłużnik</th>
        <th>E-mail</th>
        <th>Kwota</th>
        <th>Dołącz listę transakcji</th>
      </tr>
      <% @debtors.each do |info| %>
        <% id = info[:loan].id %>
        <tr>
          <td><%= check_box_tag "send-#{id}", true, true %></td>
          <td><%= h info[:loan].name %></td>
          <td><%= h info[:loan].email %></td>
          <td><%= print_saldo(info[:loan].current_saldo) %></td>
          <td><%= check_box_tag "include-transfers-#{id}", true, true %> <a href="#">Pokaż listę </a></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div>
    <%=  text_area_tag 'text', 'Oddajcie mi moje pieniadze!', :rows => 6, :cols => 65 %>
  </div>

  <div>
    <%= submit_tag 'Wyślij przypomnienia' %>
  </div>
<% end -%>

