<% c1_symbol = h @c1.long_symbol %>
<% c2_symbol = h @c2.long_symbol %>
<h1>Kursy wymiany dla walut <%= c1_symbol -%> oraz <%= c2_symbol -%></h1>
<div>

  <table id="exchanges-list">
    <th>
      Dzień
    </th>
    <th>
      1 <%= c1_symbol -%>
    </th>
    <th>
      1 <%= c2_symbol -%>
    </th>
    <% @exchanges.each do |e| %>
      <tr>
        <td>
          <%= e.day -%>
        </td>
        <td>
          <%= "#{e.left_to_right} #{c2_symbol}" -%>
        </td>
        <td>
          <%= "#{e.right_to_left} #{c1_symbol}" -%>
        </td>
      </tr>
    <% end %>
    <% if @exchanges.empty? %>
      <tr>
        <td colspan="3">
          Nie utworzono jeszcze żadnego kursu dla tych dwóch walut.
        </td>
      </tr>
    <% end %>
  </table>

  <%= will_paginate :next_label => I18n.translate(:sooner, :default => 'Sooner'), :prev_label => I18n.translate(:later, :default => 'Later') %>


  <%= tab [[:new, 'Nowy']], :name => :exchange, :active => :new -%>

  <div id="form-for-exchange" style="border: 1px solid lightgrey; margin: 0pt; padding: 5px; background-color: rgb(255, 252, 220);" >
    <%= render :partial => 'edit' %>
  </div>

</div>