<% c1_symbol = h @c1.long_symbol %>
<% c2_symbol = h @c2.long_symbol %>
<h1>Kursy wymiany dla walut <%= c1_symbol -%> oraz <%= c2_symbol -%></h1>
<div>
  <% light_shadow do %>
    <table id="exchanges-list" class="nice-table">
      <th>
        Dzień
      </th>
      <th>
        1 <%= c1_symbol -%>
      </th>
      <th>
        1 <%= c2_symbol -%>
      </th>
      <th>
        Akcje
      </th>
      <% @exchanges.each do |e| %>
        <tr>
          <td>
            <%= e.day -%>
          </td>
          <td>
            <%= "#{e.left_to_right} #{c2_symbol}" -%>
          </td>
          <td>
            <%= "#{e.right_to_left} #{c1_symbol}" -%>
          </td>
          <td>
            <%= link_to 'Edytuj', edit_exchange_path(e) -%>
          </td>
        </tr>
      <% end %>
      <% if @exchanges.empty? %>
        <tr>
          <td colspan="4">
            Nie utworzono jeszcze żadnego kursu dla tych dwóch walut.
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="4">
          <%= will_paginate :next_label => I18n.translate(:sooner, :default => 'Sooner'), :prev_label => I18n.translate(:later, :default => 'Later') %>
        </td>
      </tr>
    </table>
  <% end %>




  <% options = shadow_options do |opt| %>
    <% opt[:top][:middle].call do %>
      <%= tab [[:new, 'Nowy']], :exchange -%>
    <% end %>
  <% end %>


  <% light_shadow({:class => 'long'}, {}, options) do %>
    <% tab_container(:exchange) do %>
      <%= render :partial => 'edit' %>
    <% end %>
  <% end %>
</div>