<% c1_symbol = h @c1.long_symbol %>
<% c2_symbol = h @c2.long_symbol %>
<h1>
  Kursy wymiany dla jednostek <%= c1_symbol -%> oraz <%= c2_symbol -%>
  <%= help_tag('system_elements.exchanges.list') %>
</h1>
<div>
  <% light_shadow do %>
    <table id="exchanges-list" class="nice-table">
      <th>
        Dzień
        <%= help_tag('system_elements.exchanges.list.day') %>
      </th>
      <th>
        1 <%= c1_symbol -%>
        <%= help_tag('system_elements.exchanges.list.left_to_right') %>
      </th>
      <th>
        1 <%= c2_symbol -%>
        <%= help_tag('system_elements.exchanges.list.right_to_left') %>
      </th>
      <th>
        Akcje
        <%= help_tag('system_elements.exchanges.list.actions') %>
      </th>
      <% @exchanges.each do |e| %>
        <tr>
          <td>
            <%= e.day -%>
          </td>
          <td>
            <%= "#{e.left_to_right} #{c2_symbol}" -%>
          </td>
          <td>
            <%= "#{e.right_to_left} #{c1_symbol}" -%>
          </td>
          <td>
            <%= link_to_edit(e) -%>
            <%= link_to_destroy(e) -%>
          </td>
        </tr>
      <% end %>
      <% if @exchanges.empty? %>
        <tr>
          <td colspan="4">
            Nie utworzono jeszcze żadnego kursu dla tych dwóch walut.
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="4">
          <%= will_paginate :next_label => I18n.translate(:sooner, :default => 'Sooner'), :previous_label => I18n.translate(:later, :default => 'Later') %>
        </td>
      </tr>
    </table>
  <% end %>



  <% options = ShadowHelper::ShadowOptions.new %>
  <% options.top.middle.text = tab([[:new, 'Nowy']], :exchange) %>
  

  <% light_shadow({:class => 'long'}, {}, options) do %>
    <% tab_container(:exchange) do %>
      <%= render :partial => 'edit' %>
    <% end %>
  <% end %>
</div>