<div id="currencies-index">
  <h1>
    Jednostki (waluty)
    <%= help_tag('system_elements.currencies.index') %>
  </h1>

  <% light_shadow do %>
    <table id="currencies-list" class ="nice-table long">
      <tr style="width: 100%" >

        <th>
          Nazwa
          <%= help_tag('system_elements.currencies.fields.name') %>
        </th>

        <th>
          Symbol
          <%= help_tag('system_elements.currencies.fields.symbol') %>
        </th>

        <th>
          Długa nazwa
          <%= help_tag('system_elements.currencies.fields.long_name') %>
        </th>

        <th>
          Długi symbol
          <%= help_tag('system_elements.currencies.fields.long_symbol') %>
        </th>

        <th>
          Systemowa
          <%= help_tag('system_elements.currencies.fields.system') %>
        </th>

        <th>
          Akcje
          <%= help_tag('system_elements.currencies.index.actions') %>
        </th>
      </tr>

      <%= render :partial => 'currency', :collection => @currencies %>

    </table>
  <% end %>
  
  <span class="margin-left">
    <b>
      <%= link_to 'Dodaj nową jednostkę', new_currency_path, :id => 'add-cur' -%>
    </b>
  </span>
  
</div>
