<%= javascript_include_tag 'user.js' %>
<h1>Edycja ustawień</h1>

<% form_for(@current_user) do |f| -%>

<%= error_messages_for :current_user %>

<fieldset style="margin-top: 1em">
<legend>Konto użytkownika</legend>
<p><%= f.label 'email' %><br/>
<%= f.text_field :email %></p>

<p><%= f.label 'password', 'Hasło: ' %><br/>
<%= f.password_field :password %></p>

<p><%= f.label 'password_confirmation', 'Potwiedź hasło: ' %><br/>
<%= f.password_field :password_confirmation %></p>

</fieldset>

<fieldset style="margin-top: 1em">
<legend>System settings</legend>
<p><%= f.label 'transaction_amount_limit_type', 'Ograniczenie ilości wyświetlanych transakcji: ' %><br/>
  <%= f.select :transaction_amount_limit_type, @transaction_amount_limit_types.map { |type| [get_desc_for_transaction_amount_limit_type(type), type] }, {}, :onchange => 'show_or_hide_transaction_limit_value()'%>
<%= f.text_field :transaction_amount_limit_value, :size => 5 %></p>

<%= javascript_tag("show_or_hide_transaction_limit_value()") %>

<p><%= f.label 'include_transactions_from_subcategories', 'W kategoriach pokazuj transakcje z podkategorii: ' %><br/>
<%= f.check_box :include_transactions_from_subcategories %></p>

<fieldset id='user_multi_currency_balance_calculating_algorithms'>
<legend>Algorytm przeliczania walut</legend>
<% @multi_currency_balance_calculating_algorithms.each do |option| -%>
<%= f.radio_button :multi_currency_balance_calculating_algorithm, option -%> <%= get_desc_for_calculating_algorithm(option) -%> <br/>
<% end -%>
</fieldset>

</fieldset>
<p><%= f.submit 'Update' %></p>
<% end -%>