<h1>Stwórz nowe konto</h1>
<% @user.password = @user.password_confirmation = nil %>

<% form_for :user, :html => {:class => 'style2'}, :url => users_path do |f| -%>
  <%= error_messages_for :user, :message => nil %>
  <p>
    <%= f.label :login, 'Login'  %>
    <%= f.text_field :login %><%= help_tag 'system_elements.user.new.login' %></p>

  <p><%= f.label :email, 'Email'  %>
  <%= f.text_field :email %><%= help_tag 'system_elements.user.new.email' %></p>

  <p><%= f.label :password, 'Hasło'  %>
  <%= f.password_field :password %><%= help_tag 'system_elements.user.new.password' %></p>

  <p><%= f.label :password_confirmation, 'Potwierdź hasło'  %>
  <%= f.password_field :password_confirmation %><%= help_tag 'system_elements.user.new.password_confirmation' %></p>

  <p><%= submit_tag 'Zarejestruj mnie' %></p>
<% end -%>
