<h1>
  Lista wierzycieli
  <%= help_tag('system_elements.loans.creditors.index') %>
</h1>

<% light_shadow do %>
  <table style="width: 100%" class="nice-table long">
    <tr>
      <th>
        Wierzyciel
        <%= help_tag('system_elements.loans.creditors.index.category') %>
      </th>
      <th>
        Informacje bankowe
        <%= help_tag('system_elements.loans.creditors.index.bankinfo') %>
      </th>
      <th>
        Kwota
        <%= help_tag('system_elements.loans.creditors.index.saldo') %>
      </th>
      <th>
        Lista transakcji
        <%= help_tag('system_elements.loans.creditors.index.list') %>
      </th>
      <th>
        Zapłacono
        <%= help_tag('system_elements.loans.creditors.index.pay') %>
      </th>
    </tr>
    <% @creditors.each do |info| %>
      <% loan = info[:loan] %>
      <% style = cycle('', 'alt') %>
      <tr class="<%=style-%>">
        <td><%= h loan.name %></td>
        <td><%= h loan.bankinfo %></td>
        <td><%= print_saldo(info[:money], @current_user) %></td>
        <td><%= switch("transfer-items-list-#{loan.id}", 'Pokaż / Ukryj') -%></td>
        <td>
          <% form_tag '/creditors/pay' do %>
            <%= hidden_field_tag :creditor, loan.id %>
            <%= select_tag :payer, options_from_collection_for_select(@categories.clone.delete_if{|a,b| a == loan.id}, :first, :second)%>
            <%= submit_tag 'Spłać' %>
          <% end %>
        </td>
      </tr>
      <tr style="display: none;" <%= obj_id('transfer-items-list', loan) -%> >
        <td colspan="5" style="margin: 0 auto;">
          <table style="width: 80%">
            <tr>
              <th>Dzień</th>
              <th>Opisa transferu</th>
              <th>Opisa elementu transferu</th>
              <th>Kwota</th>
              <th>Saldo</th>
            </tr>
            <% info[:transfers].each do |transfer_info| %>
              <% transfer = transfer_info[:transfer] %>
              <% saldo = transfer_info[:saldo] %>
              <% transfer_items = transfer.transfer_items.select{|ti| ti.category_id == loan.id} %>
              <% transfer_items.each do |transfer_item| %>
                <tr>
                  <td>
                    <%= transfer.day %>
                  </td>
                  <td>
                    <%= transfer.description %>
                  </td>
                  <td>
                    <%= transfer_item.description %>
                  </td>
                  <td>
                    <%= transfer_item.value %>
                    <%= @currencies.find{|c| c.id == transfer_item.currency_id}.long_symbol %>
                  </td>
                  <td>
                    <%=  print_saldo(saldo, @current_user) if transfer_item == transfer_items.last %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </table>
        </td>
      </tr>
    <% end %>

    <% if @creditors.empty? %>
      <tr>
        <td colspan="6">
          Lista jest pusta :-)
        </td>
      </tr>
    <% end %>

  </table>
<% end %>
