<h1>Wyniki importu z programu Gnucash</h1>

<% if @error %>
  <div id="parsing-error" style="margin:20px; font-size: 120%">
    <p>Wystąpił błąd podczas analizowania podanego pliku: <b><%= h @file_name %></b> </p>
    <p>Treść błędu: <b><%= h @error %></b></p>
    <p>Sprawdź czy plik jest prawidłowy i spróbuj jeszcze raz. <br />
    Jeśli problem będzie się powtarzał, napisz do nas.</p>
    <p>
    <%= link_to '<< Import', :controller => :import, :action => :import %> </p>

  </div>
<% else %>
  <div id="parsing-good" style="margin:20px; font-size: 120%">
    <p><b>Import danych powiódł się</b>, krótkie podsumowanie:</p>

<p>
    Znaleziono <%= @result[:categories][:in_file] %> kategorii w podanym pliku,
    z czego utworzono <%= @result[:categories][:added] %> nowych
oraz połączono <%= @result[:categories][:merged] %> kategorii.</p>

    <% if @result[:categories][:errors].size > 0  %>
      <p>Podczas importowania kategorii wystąpiły następujące problemy:</p>
      <ul id="category-error">
      <% @result[:categories][:errors].each do |err| %>
        <li>
        <%= h err %>
        </li>
      <% end %>
      </ul>
    <% end %>


    <p>
    Znaleziono <%= @result[:transfers][:in_file] %> transferów w podanym pliku,
    z czego utworzono <%= @result[:transfers][:added] %> nowych transferów. </p>

    <% if @result[:transfers][:errors].size > 0  %>
    <p>
    Podczas importowania transferów wystąpiły następujące problemy: </p>
      <ul id="transfer-error">
      <% @result[:transfers][:errors].each do |err| %>
        <li>
        <%= h err %>
        </li>
      <% end %>
      </ul>
    <% end %>

    <p>
    <%= link_to '<< Import', :controller => :import, :action => :import %> </p>
  </div>
<% end %>