<div>
  <% @result.each_with_index do |result, index| %>
    <% div_id = 'transfer-edit-' + index.to_s %>
    <% transfer = result[:transfer] %>
    <% warnings = result[:warning] %>
    <div>
      <%= switch(div_id, 'Pokaż / Ukryj') %> |
      <%= h transfer.day  %> | 
      <%= h transfer.description  %>
      <div id="<%= div_id -%>" style="display: none;">
        <%= render :partial => 'transfers/full_transfer', :locals => result.merge(:hide_after_saved => true) %>
      </div>
    </div>
  <% end %>
</div>