<% controller ||= :transfers %>
<% array = [transfer] %>
<% if controller != :transfers %>
  <% array = [:transfer, transfer, {:url => {:action => :create, :controller => controller}}] %>
<% end %>

<% form_remote_for(*array) do |form| %>
  <% form_id = form_element_uid(form) %>

  <% unless @jsgenerated %>
    <% content_for :jstemplates do -%>

      <% [:income, :outcome].each do |ti_type| %>
        <%= "var #{ti_type.to_s}_transfer_item='#{generate_template(form, :transfer_items, {:transfer_item_type => ti_type},{:partial => 'transfers/transfer_item'})}'" %>
      <% end %>

      <%= "var conversion='#{generate_template(form, :conversions, {}, :partial => 'conversions/conversion')}' " %>

      <% @exchanges.each do |e| %>
        <%= "var #{js_var(e)} ='#{generate_template(form, :conversions, {}, :object => Conversion.new(:exchange => e), :partial => 'conversions/conversion')}' " %>
      <% end %>

    <% end -%>
    <% @jsgenerated = true %>
  <% end %>

  <%= hidden_field_tag :form_id, form_id %>
  <%= hidden_field_tag :include_subcategories, @include_subcategories if @include_subcategories %>
  <%= hidden_field_tag :current_category, @category.id if @category %>
  <%= form.hidden_field :import_guid %>

  <div id="<%= form_id -%>errors">
  </div>

  <h3>
    Opis
    <%= help_tag('system_elements.transactions.new.full.description') %>
  </h3>
  <%= form.text_area :description, :cols => 60, :rows => 4, :id => form_id + 'description' %>
  <div class="auto_complete" id="<%= form_id -%>description_auto_complete" >
  </div>
  <%= auto_complete_field form_id + 'description',
    :url => complete_transfer_path,
    :min_chars => 4,
    :frequency => 0.3
%>

  <hr class="hr-line-100prc" />

  <h3>
    Data
    <%= help_tag('system_elements.transactions.new.full.date') %>
  </h3>
  <%= form.date_select :day  %>


  <% items = transfer.transfer_items.group_by {|ti| ti.transfer_item_type} %>
  <% [:outcome, :income].each do |form_type| %>
    <div>
      <h3>
        <%= I18n.translate(form_type) -%>
        <%= help_tag('system_elements.transactions.new.full.' + form_type.to_s) %>
      </h3>
      <table id="<%= form_id + form_type.to_s -%>_items">
        <tr>
          <td>Opis</td>
          <td>Kategoria</td>
          <td>Wartość</td>
          <td>Waluta</td>
          <td></td>
        </tr>
        <% items[form_type].each do |item| %>
          <% form.fields_for :transfer_items, item do |item_form| %>
            <%= render :partial => 'transfers/transfer_item', :locals => {:f => item_form} %>
          <% end %>
        <% end %>
      </table>

      <%= link_to_add 'Dodaj', "##{form_type.to_s}_transfer_item", :rel => "#{form_id + form_type.to_s}_items", :id => "new_#{form_type}_transfer_item" %>
      <hr class="hr-line-100prc" />
    </div>

  <% end %>

  <h3>
    <%= I18n.translate(:exchanges) -%>
    <%= help_tag('system_elements.transactions.new.full.conversions') -%>
  </h3>
  <div id="<%= form_id -%>conversions">
    <% form.fields_for :conversions do |con_form| %>
      <%= render :partial => 'conversions/conversion', :locals => {:f => con_form} %>
    <% end %>
  </div>

  <%= link_to_add 'Dodaj nowy kurs', "#conversion", :rel => form_id+"conversions", :id => "add_conversions" %> <br />
  
  Użyj ostatni kurs:
  <% @exchanges.each do |e| %>
    <span><%= link_to_add_exchange(e, form_id) %></span>
  <% end %>
  <br/>

  <%= submit_tag 'Zapisz' %>

<% end %>