<% all = [['quick', 'Szybki'],['full', 'Pelny'],['search','Wyszukaj']] %>
<% current_category ||= nil %>
<% all.shift if current_category.nil? %>
<% show = all.first %>

<b>
  <span id="kind-of-transfer">
    <% all.each do |active| %>
      <span id="kind-of-transfer-<%= active[0] -%>" <%= " style='display:none'" unless active == show %> >

        <% all.each do |element| %>

          <%if active == element%>
            <span class="kind-of-transfer-active-tab">
              <%= element[1] -%>
            </span>
          <% else %>
            <span class="kind-of-transfer-inactive-tab">
              <a href="#" onclick="Element.show('form-for-transfer-<%= element[0] %>'); Element.hide('form-for-transfer-<%= active[0] %>'); Element.show('kind-of-transfer-<%= element[0] %>'); Element.hide('kind-of-transfer-<%= active[0] %>');">
                <%= element[1] %>
              </a>
            </span>
          <% end %>

        <% end %>
      </span>
    <% end %>
  </span>
</b>

<div id="form-for-transfer" style="background-color: #FFFCDC; border: 1px solid lightgrey; padding: 5px; margin: 0;">
  
  <% # Quick transfer requires current_category so it is known which category it is created from or to so... %>
  <% unless current_category.nil? %>
    <div id="form-for-transfer-quick" <%= style_display_if { show.first == 'quick'} %> >
      <%= render :partial => 'transfers/quick_transfer', :locals => { :current_category => current_category } %>
    </div>
  <% end %>

  <div id="form-for-transfer-full" <%= style_display_if { show.first == 'full'} %> >
    <%= render :partial => 'transfers/full_transfer', :locals => { :current_category => current_category , :transfer => transfer, :embedded => true}  %>
  </div>

  <div id="form-for-transfer-search" <%= style_display_if { show.first == 'search'} %> >
    <%= render :partial => 'transfers/search_transfers', :locals => { :current_category => current_category } %>
  </div>

</div>