<% all = [['quick', 'Szybki'],['full', 'Pelny'],['search','Wyszukaj']] %>
<% show = all.first %>
<b>
  <span id="kind-of-transfer">
    <% all.each do |active| %>
      <span id="kind-of-transfer-<%= active[0] -%>" <%= " style='display:none'" unless active == show %> >

        <% all.each do |element| %>

          <%if active == element%>
            <span class="kind-of-transfer-active-tab">
              <%= element[1] -%>
            </span>
          <% else %>
            <span class="kind-of-transfer-inactive-tab">
              <a href="#" onclick="Element.show('form-for-transfer-<%= element[0] %>'); Element.hide('form-for-transfer-<%= active[0] %>'); Element.show('kind-of-transfer-<%= element[0] %>'); Element.hide('kind-of-transfer-<%= active[0] %>');">
                <%= element[1] %>
              </a>
            </span>
          <% end %>

        <% end %>
      </span>
    <% end %>
  </span>
</b>

<div id="form-for-transfer" style="background-color: #FFFCDC; border: 1px solid lightgrey; padding: 5px; margin: 0;">

  <div id="form-for-transfer-quick">
    <%= render :partial => 'transfers/quick_transfer', :object => { :category_id => @choosen_category_id } %>
  </div>

  <div id="form-for-transfer-full" style="display:none">
    <%= render :partial => 'transfers/full_transfer', :locals => { :category_id => @choosen_category_id , :embedded => true}  %>
  </div>

  <div id="form-for-transfer-search" style="display:none">
    <%= render :partial => 'transfers/search_transfers', :locals => { :category_id => @choosen_category_id } %>
  </div>

</div>