<% all = [
    ['quick', 'Szybki ' + help_tag('system_elements.transactions.new.quick') ],
    ['full', 'Pełny ' + help_tag('system_elements.transactions.new.full') ],
    ['search','Wyszukaj ' + help_tag('system_elements.transactions.search') ]
  ]
%>
<% all.shift if @category.nil? %>
<% show = all.first %>

<% options = shadow_options do |opt| %>
  <% opt[:top][:middle].call do %>
    <%= tab all, :transfer %>
  <% end %>
<% end %>

<% light_shadow({:class => 'long'}, {}, options) do %>
  <% tab_container(:transfer) do %>

    <% if @category %>
      <div id="show-transfer-quick" <%= style_display_if { show.first == 'quick'} %> >
        <%= render :partial => 'transfers/quick_transfer' %>
      </div>
    <% end %>

    <div id="show-transfer-full" <%= style_display_if { show.first == 'full'} %> >
      <%= render :partial => 'transfers/form', :locals => { :transfer => @transfer }  %>
    </div>

    <div id="show-transfer-search" <%= style_display_if { show.first == 'search'} %> >
      <%= render :partial => 'transfers/search_transfers' %>
    </div>

  <% end %>
<% end %>