<% choosen = '' %>
<% id = current_category.id %>

<% form_remote_tag :url => { :action => 'quick_transfer' , :controller => 'transfers'} do %>
  <h3>Rozchód</h3>
  <table id="quick-income-items">
    <tr>
      <td> Do kategorii</td>
      <td> Opis</td>
      <td> Wartość </td>
      <td> Waluta </td>
      <td> Data  </td>
    </tr>
    <tr>
      <td> <%= select_tag 'data[category_id]' , options_from_collection_for_select( @current_user.categories, 'id' , 'name' , choosen ) %> </td>
      <td> <%= text_field_tag 'data[description]','', { :size=>35 } %> </td>
      <td> <%= text_field_tag 'data[value]','', { :size=>5 } %> </td>
      <td> <%= select 'data', 'currency_id', @current_user.visible_currencies.collect {|c| [ c.long_symbol, c.id ] }, :selected => @current_user.default_currency.id %></td>
      <td> <%= date_select  :data, :day  %> </td>
      <%= hidden_field_tag  'data[from_category_id]', id %>
      <%= hidden_field_tag :current_category, id %>
    </tr>
  </table>

  <span><%= submit_tag 'Zapisz' %></span>
<% end %>

<br />
<hr class="hr-line-100prc" />
<br />

<% form_remote_tag :url => { :action => 'quick_transfer' , :controller => 'transfers'} do %>
  <h3>Przychód</h3>
  <table id="quick-outcome-items">
    <tr>
      <td> Z kategorii </td>
      <td> Opis </td>
      <td> Wartość </td>
      <td> Waluta </td>
      <td> Data  </td>
    </tr>
    <tr>
      <td> <%= select_tag 'data[from_category_id]' , options_from_collection_for_select( @current_user.categories, 'id' , 'name' , choosen ) %> </td>
      <td> <%= text_field_tag 'data[description]','', { :size=>35 } %> </td>
      <td> <%= text_field_tag 'data[value]','', { :size=>5 } %> </td>
      <td> <%= select 'data', 'currency_id', @current_user.visible_currencies.collect {|c| [ c.long_symbol, c.id ] }, :selected => @current_user.default_currency.id %></td>
      <td> <%= date_select  :data, :day  %> </td>
      <%= hidden_field_tag  'data[category_id]', id %>
      <%= hidden_field_tag :current_category, id %>
    </tr>
  </table>

  <span><%= submit_tag 'Zapisz' %></span>
<% end %>