<% unique_id = form_element_uid(f) %>
<tr class="transfer_item">
  <%=  f.hidden_field :transfer_item_type %>

  <td>
    <%= f.text_field :description, :size=>30, :autocomplete => :off, :id => unique_id + 'description' %>
    <div class="auto_complete" id="<%=unique_id%>description_complete" >
    </div>
    <%= auto_complete_field "#{unique_id}description",
      :url => complete_transfer_item_path,
      :update => "#{unique_id}description_complete",
      :min_chars => 4,
      :select => 'complete',
      :frequency => 0.3,
      :after_update_element => "function(element, value) { after_complete_transfer_item('#{unique_id}'); }" %>
  </td>

  <td>
    <%= f.select :category_id, @current_user.categories.map { |c| [c.name, c.id] }, {}, {:id => unique_id + 'category_id'} %>
  </td>

  <td>
    <% v = (f.object.errors.on(:value) || f.object.value.nil?) ? f.object.value_before_type_cast : f.object.value.abs %>
    <%= f.text_field :value, :size=>5, :value => v, :id => unique_id + 'value' %>
  </td>

  <td>
    <%= f.select :currency_id, @current_user.visible_currencies.map{|c| [c.long_symbol, c.id] },{}, {:id => unique_id + 'currency_id'} %>
  </td>

  <td>
    <%= remove_link(f) -%>
  </td>
</tr>
