<% id = transfer_details.id %>
<% options = {:current_category => @category, :include_subcategories => @include_subcategories} %>

<table id="<%= "transfer-details-id-#{id}" -%>" class="nice-table long" style="margin: 0px; padding: 0px;">

  <% [:outcome, :income].each do |type| %>
    <tr class="line-income-outcome" >
      <th colspan="4" class="in-header" style="background-color: #EBAB63;">
        <%= I18n.t type.to_s + '_details', :scope => [:types] %>
      </th>
    </tr>
    <%= render :partial => 'transfer_item_details' , :collection => transfer_details.transfer_items.of_type(type) %>
  <% end %>

  <tr class="line-income-outcome" >
    <th colspan="4" class="in-header" style="background-color: #EBAB63;">
      Akcje
    </th>
  </tr>

  <tr class="line-income-outcome" >
    <td colspan="4">
      <%= link_to_function('Ukryj szczegóły') do |page|
        page["transfer-details-id-#{id}"].remove
        page["show-details-button-#{id}"].show
      end %> |
      <%= link_to_remote "Edytuj transfer", :url => {:action => :edit, :controller => :transfers, :id => id}.merge(options), :method => :get %> |
      <%= link_to_remote "Usuń", :url => {:action => :destroy, :controller => :transfers, :id => id}.merge(options), :method => :delete %>
    </td>
  </tr>

  <tr class="line-income-outcome" >
    <th colspan="4" class="in-header" style="background-color: #EBAB63;">
    </th>
  </tr>
</table>
