<% form_for(@goal) do |form| %>
  <%= form.error_messages %>


<!--nazwa [description]-->
  <%= form.label :description, 'Nazwa: ' %><%= form.text_field :description  %><br/>
  <!--kategoria combo [category_id]-->
  <%= form.label :category, 'Dotyczy kategorii' %><%= form.select :category_id, @current_user.categories.map { |cat| [cat.name_with_indentation , cat.id]} %><br/>

  <!--dotyczy podkategorii (checkbox) [include_subcategories]-->
  <p><%= form.label 'include_subcategories', 'Dotyczy podkategorii ' %>
  <%= form.check_box :include_subcategories %></p>


  <!--typ (combo: nie mniej, nie wiecej) [goal_completion_condition]-->
  <p><%= form.label 'goal_completion_condition', 'Zadanie: ' %>
  <%= form.enum_select :goal_completion_condition%>

  <!--wartosc [value]-->
  <%= form.text_field :value, :size => 5 %>

  <!--'jednostka' (combo: %, waluty) [goal_type?]-->
  <%#= form.enum_select :goal_type-%>

<%= form.select :goal_type_and_currency, @values_for_goal_type_and_currency %>

</p>

 

<%= date_period_fields("goal_day", @goal.period_start || Date.today, @goal.period_end || Date.today, @goal.period_type || 'selected', [:present, :future]) %>



  <p><%= form.label :is_cyclic, 'Powtarzaj plan w następnych okresach?' %>
<%= form.check_box :is_cyclic %></p>


  <p>
    <%= form.submit "Zapisz zmiany" %>
  </p>
<% end %>