<h1>Twoje plany</h1>

<% light_shadow() do %>
  <table summary="Cele" class="nice-table">
    <tr>
      <th scope="col" class="nobg">Nazwa</th>
      <th scope="col">Dla kategorii</th>
      <th scope="col">Zakładana wartość</th>
      <th scope="col">Aktualna wartość</th>
      <th scope="col">Na okres</th>
      <th scope="col" colspan="4">Akcje</th>
    </tr>


    <tr>
    <th scope="row" class="in-header" colspan="9"><%=finished_goals_header_text%></th></tr>

    <% for fin_goal in @finished_goals %>

      <tr class="<%= cycle('', 'alt', :name => 'alt_style_td')%>">
        <th scope="row" class="spec"><%= h fin_goal.description%></th>
        <td><%= h fin_goal.category.name%></td>
        <td><%= h fin_goal.value_description%></td>
        <td><span class="<%= (fin_goal.positive? ? "goal-positive":"goal-negative") %>"><%= h fin_goal.actual_value_with_unit%></span></td>
        <td><%= h fin_goal.period_description%></td>
        <td>
          <%if fin_goal.is_cyclic %>
            <%= link_to 'Historia', :action => 'history_index', :id => fin_goal.id %>
          <%end%>
        </td>
        <td colspan="3"><%= link_to 'Usuń', fin_goal, :confirm => 'Czy jesteś tego pewien?', :method => :delete %></td>
      </tr>
    <% end %>


    <tr>
    <th scope="row" class="in-header nice-table" colspan="9"><%=actual_goals_header_text%></th></tr>



    <% for goal in @actual_goals %>
      <tr class="<%= cycle('', 'alt', :name => 'alt_style_td')%>">
        <th scope="row" class="spec"><%= h goal.description%></th>
        <td><%= h goal.category.name%></td>
        <td><%= h goal.value_description%></td>
        <td><span class="<%= (goal.positive? ? "goal-positive":"goal-negative") %>"><%= h goal.actual_value_with_unit%></span></td>
        <td><%= h goal.period_description%></td>
        <td>
          <%if goal.is_cyclic %>
            <%= link_to 'Historia', :action => 'history_index', :id => goal.id %>
          <%end%>
        </td>
        <td><%= link_to 'Edytuj', edit_goal_path(goal) %></td>
        <td><%= link_to 'Usuń', goal, :confirm => 'Czy jesteś tego pewien?', :method => :delete %></td>
        <td><%= link_to 'Zakończ', :action => 'finish', :id => goal.id %></td>

      </tr>
    <% end %>
  </table>
<% end %>
<br />

<%= link_to 'Nowy plan', new_goal_path %>


