<% size = '20x20' %>

<tr <%= obj_id('category-line', category) -%> class="width category verticalCenter <%= cycle('', 'alt') %>" title="<%= category.name_with_path -%>" >

  <td id="category-link">
    <a style="padding-left : <%= ( category.cached_level  + 1 ) * 20 %>px;">
      <%= link_to h(category.name), category_path(category), {:id => "show-category-stats-#{category.id}" } %>
    </a>
  </td>

  <td id="category-saldo-<%= category.id -%>">
    <% category.current_saldo.each do |currency, value| %>
      <%= "#{value} #{currency.symbol}, " -%>
    <% end %>
  </td>
  
  <td id="category-options">
      <%= link_to new_img(), {:action => :new, :controller => :categories, :parent_category_id => category.id}, {:title => 'Dodaj podkategorię', :id => "add-subc-#{category.id}"} %>
      <% unless category.is_top? %>
        <%= link_to_remote destroy_img, {:url => category_url(category), :method => :delete}, { :href => url_for(:action => :destroy, :id => category, :method => :delete), :title => 'Usuń', :id => "dele-subc-#{category.id}" } %>
      <% end %>
  </td>

</tr>



