<% include_subcategories ||= nil #We do not know if this variable is given through :locals %>

<% light_shadow do %>
  <table id="transfers-table" class="nice-table long" style="border-collapse: collapse; border: solid 1px #AAD3DB">
    <tr>
      <th width="70">
        Data
      </th>

      <th>
        Opis transferu
      </th>

      <th>
        Opis elementu
      </th>

      <th width="130">
        Kategoria <br />
        docelowa
      </th>

      <th width="75">
        Przychód
      </th>

      <th width="75">
        Rozchód
      </th>

      <th width="75">
        Saldo
      </th>

      <th width="20">
      </th>
    </tr>

    <tr class="<%= cycle('', 'alt') -%>" >
      <td class="transfer-table-border" colspan="8">
        <b>
          <%= @start_day.to_s if @start_day %>
        </b>
      </td>
    </tr>

    <% @transfers.each_pair do |key, transfer_data| %>
      <%= render :partial => 'categories/transfer' , :locals=> {:array => transfer_data, :include_subcategories => include_subcategories} %>
    <% end %>

    <tr>
      <td class="transfer-table-border" colspan="8">
        <b><%= @end_day.to_s if @end_day %></b>
      </td>
    </tr>

    <% # Show saldo for perdio only when watching transfers for one category
  %>

    <tr>

      <td colspan="6" class="value-for-time" >
        <b>
          Zmiana wartości kategorii
          <%= "(z podkategoriami)" if @include_subcategories %>
        </b>
      </td>

      <td class="transfer-table-border number" colspan="2">
        <%= print_saldo(@value_between, @current_user) %>
      </td>

    </tr>

    <% if @end_day && @end_day < Date.today %>
      <tr>
        <td class="dots middle transfer-table-border" style="font-size: 15px;">
          <b>
            .<br />
            .<br />
            .
          </b>
        </td>
        <td colspan="7" >
        </td>
      </tr>
    <% end %>

    <tr>
      <td class="transfer-table-border value-for-time" colspan="6">
        <b>
          Aktualne saldo
          <%= "(z podkategoriami)" if @include_subcategories %>
        </b>
      </td>

      <td class="transfer-table-border number" colspan="2">
        <b>
          <%= print_saldo(@value, @current_user) %>
        </b>
      </td>
    </tr>

  </table>
<% end %>