<% # transfer => 'contains real transfer with id, day, description itp', %>
<% # money => 'contains value of transfer as Money object', %>
<% # saldo => 'Saldo as Money object' %>
<% # current_category => 'Category to redraw on changes' %>
<% # include_subcategories => 'Redraw current_category with subcategories?' %>

<% current_category ||= nil %>
<% include_subcategories ||= nil %>
<% mode ||= nil %>
<% size = '15x15' %>
<% text = 'Pokaż sczegóły' %>

<tr id="transfer-in-category-line-<%= transfer.id -%>" class="<%= cycle('', 'alt') %>" >

  <td class="transfer-table-border"> <%= transfer.day -%> </td>
  <td class="transfer-table-border"> <%= transfer.description -%> </td>

  <% unless mode == :transfers %>

    <td class="transfer-table-border">
      <i>Check details</i>
    </td>

    <td class="number transfer-table-border">
      <% money.each do |currency, value| %>
        <div>
          <%= "#{value} #{currency.symbol}" -%>
        </div>
      <% end %>
    </td>

    <td class="number transfer-table-border">
      <% saldo.each do |currency, value| %>
        <div>
          <%= "#{value} #{currency.symbol}" -%>
        </div>
      <% end %>
    </td>

  <% end %>

  <td class="middle transfer-table-border" id="put-show-details-here-<%= transfer.id -%>">
    <span id="show-details-button-<%= transfer.id -%>">
      <%= link_to_remote image_tag("/images/system-search.png", :size => size, :alt => text),
        {:url => show_details_transfer_path(:id => transfer,
          :current_category => current_category,
          :include_subcategories => include_subcategories)
        },
        {:title => text} %>
    </span>
  </td>

</tr>

<tr>
  <td colspan="<%= mode == :transfers ? 3 : 6 -%>" id="transfer-in-category-<%= transfer.id -%>" style="background-color: #DBDEDE;"/>
</tr>
