<h1>Edycja kategorii</h1>
<div id="category-edit">
  <% form_for :category, @category, :url => category_path(@category), :html => {:method => :put, :class=>'style2'} do |form| %>

    <%= error_messages_for :category, :message => nil %>

    <ul>
      <li id="name">
        <%= form.label :name, 'Nazwa'%><%= form.text_field :name %>
      </li>

      <li id="description">
        <%= form.label :description, 'Opis'%><%= form.text_field :description %>
      </li>

      <% if !@category.is_top? %>
        <li id="parent">
          <%= form.label :parent, 'Kategoria nadrzędna', :id => 'parent'%>
          <%= select_tag 'category[parent]',  options_for_select(nested_set_options(@top, @category) { |i| i.name }, @parent.id), :id => 'parent-select'%>
        </li>
      <% end %>

      <li id="system_category">
        <%= form.label :system_category, 'Kategoria systemowa'%>
        <%= collection_select :category, :system_category_id, @system_categories, :id, :name_with_indentation, {:include_blank => 'Brak'}, :id => 'system-category-select' %>
      </li>

      <li>
        <% if @category.can_become_loan_category? %>
          <fieldset style="margin-top: 1em">
          <legend>Dłużnik / Wierzyciel</legend>
          <p id="loan">
            <li id="is_loan"><%= form.check_box :type, {}, 'LoanCategory', 'Category' %><%= form.label :is_loan, 'Czy dana kategoria reprezentuje dłużnika lub wierzyciela?', :class => 'inline'%></li>
            <li id="email"><%= form.label :email, 'E-mail'%><%= form.text_field :email %></li>
            <li id="bankinfo"><%= form.label :bankinfo, 'Informacje do przelewu'%><%= form.text_field :bankinfo %></li>
          </p>
          </fieldset>
        <% end %>
      </li>

      <%= render :partial => 'new_subcategories' %>


      <li id="update">
          <%= form.submit "Zapisz zmiany" %>
      </li>
    </ul>

  <% end %>
</div>

<div style="margin: 5px 5px 5px 15px;">
<%= link_to 'Powróć do listy kategorii', categories_url %>
</div>