<div>
  <h1>
    <%= h @category.name %>
    <%= link_to '[Edycja]', edit_category_path(@category), obj_hash_id('edit-cat', @category)%>
    <%= help_tag 'system_elements.transactions.categories_index' %>
  </h1>

  <% unless @category.description.blank? %>
    <p class="margin-left"><b>Opis:</b> <%= h @category.description %>
    </p>
  <% end %>
  <div id="transfer-table-div">
    <%= render :partial => 'transfer_table' %>
  </div>

  <div id="bottom-menu">
    <%= render :partial => 'transfers/kind_of_transfer', :locals => { :transfer => @transfer }  %>
  </div>

</div>