<div id="flow_report_options" <%= 'style="display:none"' unless @report.flow_report? %> >
<%  form_for report, :html=>{:class => 'style2'} do |form|%>
<%= render :partial => 'common_fields', :locals => {:form => form,  :report_type => 'FlowReport', :report => report}  %>
<%= form.hidden_field :report_view_type %>
<br />
<% if  (@flow_report || @report).category_report_options.size > 10 %>
  <%= form.submit 'Zapisz'%>
  <%= form.submit 'Zapisz i pokaż'%>
  <%= form.submit 'Pokaż'%>
  <%= link_to 'Anuluj', reports_url %>
<% end %>

<div id="categories-options">
  <fieldset style="margin-top: 1em" class="width73">
  <legend>Kategorie uwzględnione na raporcie<%= help_tag('system_elements.reports.new.categories_options') -%></legend>
  <div class="scrollbar">
  <table id="category-tree" class="nice-table width long">
     <% collection = sort_category_report_options((@value_report || @report).category_report_options)%>
  <%= render :partial => 'category_option', :collection => collection, :locals => {:report_type => 'flow_report'} %>
  </table>
  </div>
  </fieldset>
  
</div>

<br/>

<%= form.submit 'Zapisz'%>
<%= form.submit 'Zapisz i pokaż'%>
<%= form.submit 'Pokaż'%>

<% end %>

</div>