<div id="share_report_options" <%= 'style="display:none"' unless @report.share_report? %> > 
<%  form_for @share_report || @report do |form|%>
<%= render :partial => 'common_fields', :locals => {:form => form,  :report_type => 'ShareReport'}  %>
<%= form.label :report_view_type, "Wyglad raportu: " %><%= form.enum_select :report_view_type %> <br/>
<%= form.label :share_type, "Podział: " %><%= form.enum_select :share_type %> <br/>
<%= form.label :depth, 'Zaglebienie' %><%= form.text_field :depth  %> <br/>
<%= form.label :max_categories_count, 'Maksymalna ilość kategorii' %><%= form.text_field :max_categories_count  %> <br/>
<%= form.label :category, 'Kategoria' %><%= form.select :category, @current_user.categories.map { |cat| [cat.name , cat.id]} %>
<br/>
<br/>
<%= form.submit %>

<% end %>

</div>