<div id="value_report_options" <%= 'style="display:none"' unless @report.value_report? %>>
<%  form_for @value_report || @report do |form|%>
<%= render :partial => 'common_fields', :locals => {:form => form, :report_type => 'ValueReport'}  %>


<%= form.label :period_division, "Przedziały czasu: " %><%= form.enum_select :period_division %> <br/>
many categories with options (tree)<br/>


<%= form.submit %>

<% end %>

</div>