<script type="text/javascript" src="/javascripts/swfobject.js"></script>

<div align="center">
  <%  @graphs.each do |currency, graph| %>
    <h1><%=@values[currency][:title]%></h1>
    <%= graph %><br/>
    <br/>

    <%= switch("graph_table_for_#{currency}","Pokaż/ukryj tabelkę danych") %> <br/>
    <div id="graph_table_for_<%=currency%>" class="scrollbar long">
      <% if @report.share_report? %>
       <% light_shadow() do %>
        <table class="nice-table">
          <tr><th >Kategoria</th><th>Saldo <%= currency%></th><th>%</th></tr>
          <%  @values[currency][:values].find_all{|el| el[:percent] > 0 }.each do |val| %>
            <%=render :partial => "show_share_category", :locals => {:val => val}%>
          <% end %>
          <tr><td><b>W sumie: </b></td><td class="right"><%= @values[currency][:sum] %></td><td class="right">100</td></tr>
          <%  zero_values = @values[currency][:values].find_all{|el| el[:percent] == 0 } %>
          <% if zero_values.size > 0 %>
          <tr><td colspan="3"><b>Wartości nie uwzględnione na wykresie:</b></td></tr>
          <%  zero_values.each do |val| %>
            <%=render :partial => "show_share_category", :locals => {:val => val}%>
          <% end %>
          <% end %>
        </table>
        <% end %>

      <% else %>
      <% light_shadow() do %>
        <table class="nice-table">
          <tr><th>Saldo <%= currency%></th>
          <% @values[currency][:date_labels].each do |label| %>
          <th><%= label %></th>
          <% end -%>
          </tr>
          <% @values[currency][:values].each do |label, values| %>
          <%=render :partial => "show_value_category", :locals => {:label => label, :values => values}%>
          <% end %>
        </table>
      <% end %>
      <% end #end of if -%>

    </div>
    <br/>
    <br/>
    <br/>

  <% end #end of each -%>

<% if @graphs.size == 0 %>
  <h1>Dla podanych parametrów nie znaleziono transferów z których można by obliczyć raport</h1>
<% end %>

<br/>
<br/>

<%= render :partial => 'report_links' %>

</div>




<br/>



