<h1>Przepływ gotówki - <%= h @report.period_start %> do <%= h @report.period_end %> </h1>

<% light_shadow() do %>
  <table class="nice-table long">
    <tr><th colspan="2">Kategorie wybrane do zestawienia:</th></tr>
    <% for cato in @report.category_report_options do %>
        <tr><td><%= h cato.category.name_with_path %></td></tr>
    <% end %>
  </table>
  <% unless @cash_flow[:in].empty? %>
    <table class="nice-table long">
      <tr><th colspan="2">Pieniądze do wybranych kategorii przyszły z:</th></tr>
      <% for cat in @cash_flow[:in] do %>
         <%= render :partial => "show_flow_category", :locals => {:cat => cat}%>
      <% end %>
      <tr><td><b>W sumie: </b></td><td class="right"><b>
                <%  for currency in @currencies do %>
                    <%= h "#{@in_sum.value(currency)} #{currency.symbol}, " -%>
                  <% end %>
                </b>
            </td></tr>

    </table>
  <% end %>
  <% unless @cash_flow[:out].empty? %>
     <table class="nice-table long">
       <tr><th colspan="2">Pieniądze z wybranych kategorii wypłynęły do:</th></tr>
       <% for cat in @cash_flow[:out] do %>
          <%=  render :partial => "show_flow_category", :locals => {:cat => cat}%>
       <% end %>
       <tr><td><b>W sumie: </b></td><td class="right"><b>
                    <%  for currency in @currencies do %>
                        <%= h "#{@out_sum.value(currency)} #{currency.symbol}, " -%>
                      <% end %>
                    </b>
       </td></tr>

     </table>
   <% end %>

  <% if !@cash_flow[:in].empty? && !@cash_flow[:out].empty? %>
    <table class="nice-table long">
      <tr><td colspan="2"></td></tr>
      <tr><td><b>Różnica:	</b></td><td class="right"><%  @currencies.each do |currency| %>
        <%= h "#{@delta.value(currency)} #{currency.symbol}, " -%>
      <% end %></td></tr>
    </table>
  <% end %>

  <% if @cash_flow[:in].empty? && @cash_flow[:out].empty? %>
    <table class="nice-table long">
      <tr><th>Dla podanych parametrów raportu nie znaleziono żadnych danych do pokazania</th></tr>
    </table>
  <% end %>

<%end%>
<%= render :partial => 'report_links' %>
