
<h1>Przepływ gotówki - <%=  @report.period_start %> do <%=  @report.period_end %> </h1>
<br/>
<h2>Kategorie wybrane do zestawienia:</h2>
<p><ul>
<% @report.category_report_options.each do |cat| %>

<li><%= cat.category.name_with_path %> </li>

<% end %>
</ul>
<br/>

<table class="flow-table">
<tr><th colspan="2" class="flow-table-header">Pieniądze do zaznaczonych kategorii przyszły z:</th></tr>

<% @cash_flow[:in].each do |cat| %>

<%=render :partial => "show_flow_category", :locals => {:cat => cat}%>

<% end %>
<br/>
<tr><td><b>W sumie: </b></td><td class="right"><b>
<%  @in_sum.each do |currency, value| %>
		<%= "#{value} #{currency.symbol}, " -%>
<% end %>
</b>
</td></tr>

</table>
<table class="flow-table">
<tr><th colspan="2" class="flow-table-header">
Pieniądze z zaznaczonych kategorii wypłynęły do:</th></tr>

<% @cash_flow[:out].each do |cat| %>

<%=render :partial => "show_flow_category", :locals => {:cat => cat}%>

<% end %>

<br/><br/>
<tr><td><b>W sumie: </b></td><td class="right"><b>
<%  @out_sum.each do |currency, value| %>
		<%= "#{value} #{currency.symbol}, " -%>
<% end %></b>
</td></tr>

</table>

<br/>

<div class="flow-summary">
<b>Różnica:	</b><%  @delta.each do |currency, value| %>
		<%= "#{value} #{currency.symbol}, " -%>
<% end %>
</div>

<br/>


<br/><br/>
</p>
<%= render :partial => 'report_links' %>
